In [10]:
import pandas as pd

df1 = pd.DataFrame({
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"]},
        index=[0, 1, 2, 3])

df2 = pd.DataFrame({
        "A": ["A4", "A5", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
        "C": ["C4", "C5", "C6", "C7"],
        "D": ["D4", "D5", "D6", "D7"]},
        index=[4, 5, 6, 7])

df3 = pd.DataFrame({
        "A": ["A8", "A9", "A10", "A11"],
        "B": ["B8", "B9", "B10", "B11"],
        "C": ["C8", "C9", "C10", "C11"],
        "D": ["D8", "D9", "D10", "D11"]},
        index=[8, 9, 10, 11])

df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [5]:
result = pd.concat([df1, df2, df3])

In [7]:
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [12]:
# 열로 합치게 되면 인덱스를 남기기 위해 행이 12개가 생긴다
result = pd.concat([df1, df2, df3], axis = 1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

### ignore_index

In [18]:
result = pd.concat([df1, df2, df3], axis = 1, ignore_index = True)
result.columns = ["a", "b", "c", "d", "e", "a", "a","a","a","a","a", "a"]

In [19]:
result

      a    b    c    d    e    a    a    a    a    a    a    a
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

## Merge & Join

### Merge

In [23]:
import pandas as pd

left = pd.DataFrame({
        "key1": ["K0", "K1", "K2", "K3"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"]})

right = pd.DataFrame({
        "key1": ["K0", "K1", "K2", "K3"],
        "key2": ["K0", "K0", "K0", "K0"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"]})

display(left)
display(right)

  key1 key2   A   B
0   K0   K0  A0  B0
1   K1   K1  A1  B1
2   K2   K0  A2  B2
3   K3   K1  A3  B3

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K2   K0  C2  D2
3   K3   K0  C3  D3

In [27]:
result = pd.merge(left, right, on=["key1", "key2"])
display(result)

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K2   K0  A2  B2  C2  D2

### parameter 변경

In [28]:
pd.merge(left, right, on = ["key1", "key2"], how = "left")

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K1   K1  A1  B1  NaN  NaN
2   K2   K0  A2  B2   C2   D2
3   K3   K1  A3  B3  NaN  NaN

In [29]:
pd.merge(left, right, on = ["key1", "key2"], how = "right")

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0  NaN  NaN  C1  D1
2   K2   K0   A2   B2  C2  D2
3   K3   K0  NaN  NaN  C3  D3

### indicator: 어떻게 Join됐는지 보여줌

In [31]:
pd.merge(left, right, on = ["key1", "key2"], how = "outer", indicator = True)

  key1 key2    A    B    C    D      _merge
0   K0   K0   A0   B0   C0   D0        both
1   K1   K1   A1   B1  NaN  NaN   left_only
2   K2   K0   A2   B2   C2   D2        both
3   K3   K1   A3   B3  NaN  NaN   left_only
4   K1   K0  NaN  NaN   C1   D1  right_only
5   K3   K0  NaN  NaN   C3   D3  right_only

### Join

In [32]:
import pandas as pd

left = pd.DataFrame({
    "key1": [1, 2, 3, 4],
    "A": ["A0", "A1", "A2", "A3"],
    "B": ["B0", "B1", "B2", "B3"]})

right = pd.DataFrame({
    "C": ["C1", "C2", "C5"],
    "D": ["D1", "D2", "D5"]},
    index=[1, 2, 5])

In [36]:
result1 = left.join(right, how="right")
result2 = right.join(left)

display(result1)
display(result2)

   key1    A    B   C   D
1   2.0   A1   B1  C1  D1
2   3.0   A2   B2  C2  D2
5   NaN  NaN  NaN  C5  D5

    C   D  key1    A    B
1  C1  D1   2.0   A1   B1
2  C2  D2   3.0   A2   B2
5  C5  D5   NaN  NaN  NaN

In [37]:
result1 = left.join(right, how="inner")
result2 = left.join(right, how="outer")

display(result1)
display(result2)

   key1   A   B   C   D
1     2  A1  B1  C1  D1
2     3  A2  B2  C2  D2

   key1    A    B    C    D
0   1.0   A0   B0  NaN  NaN
1   2.0   A1   B1   C1   D1
2   3.0   A2   B2   C2   D2
3   4.0   A3   B3  NaN  NaN
5   NaN  NaN  NaN   C5   D5

### on

In [42]:
result = left.join(right, on="key1")
result

   key1   A   B    C    D
0     1  A0  B0   C1   D1
1     2  A1  B1   C2   D2
2     3  A2  B2  NaN  NaN
3     4  A3  B3  NaN  NaN

In [41]:
pd.merge(left, right, left_on="key1", right_index=True, how="left")

   key1   A   B    C    D
0     1  A0  B0   C1   D1
1     2  A1  B1   C2   D2
2     3  A2  B2  NaN  NaN
3     4  A3  B3  NaN  NaN

※ Join이 on으로 그리기 더 수월하다.